.login__container {
    margin-left: 15px;
    margin-right: 15px;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__button {
    border-radius: 30px;
    background-color: rgb(33, 159, 238);
    width: 100%;
    height: 46px;
    border: none;
    color: #fff;
    padding: 0;
}

.login__input {
    width: 100%;
    height: 46px;
    margin-bottom: 46px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid grey;
}

.login__input:first-of-type {
    margin-bottom: 15px;
}

.login__title {
    align-self: center;
}

.login__input-title {
    align-self: flex-end;
    color: rgb(159, 165, 171);
    margin-top: 0;
}